* {
  box-sizing: border-box;
}

:root {
    --Azure: #2994cb;
    --Absinthe: #a3de9e;
    --Sky: #394b59;
    --Anthracite: #2a2a2a;
    --Jet: #141414;
    --Night: #181818;
    --Stone: #6c757d;
    --Zinc: #cfd2d0;
    --Absinthe-alpha: rgba(163, 222, 158, 0.8);
    --Shadow-Alpha: rgba(0, 0, 0, 0.5);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: var(--Sky);
}

textarea {
  background-color: transparent;
  border: none;
  resize: none;
  color: var(--Anthracite);
  border-left: 2px solid var(--Zinc);
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--Azure);
  border-radius: 0;
  border-bottom: 8px solid var(--Night);
}

.description {
  white-space: pre-wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
}

.time-block {
  text-align: center;
  padding-top: .9rem;
}

.hour {
  background-color: var(--Zinc);
  color: var(--Night);
  font-weight: bold;
  border-top: 2px solid var(--Zinc);
  border-bottom: 2px solid var(--Zinc);
  border-left: 2px solid var(--Zinc);
  height: 100;
}

.past {
  background-color: var(--Stone);
  color: var(--Absinthe);
}

.present {
  background-color: #ff6961;
  color: var(--Absinthe);
}

.future {
  background-color: #77dd77;
  color: var(--Absinthe);
}

.saveBtn {
  border-left: 2px solid var(--Zinc);
  background-color: var(--Azure);
  color: var(--Absinthe);
  font-size: 28px;
  text-align: center;
  outline: none;
}

.saveBtn:hover {
  color: var(--Night);
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

.saveBtn:focus {
  outline: none;
}

.primary {
  background-color: var(--Sky);
}

.success {
  background-color: var(--Azure);
}

.sub {
  color: var(--Zinc);
}

.date {
  color: var(--Absinthe);
}

@media screen and (max-width: 980px) {
  .hour {
    padding-left: 1%;
  }
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 50px;
  }

  .hour {
    min-width: 15%;
  }

  .saveBtn {
    min-width: 15%;
  }

  .description {
    min-width: 50%;
  }
}